body {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: white;
}

/* header */
.topbar {
  width: 100%;
  background-color: rgb(19, 19, 19);
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  margin: 7px;
  margin-left: 10px;
  height: 38px;
}

.topnav {
  width: 100%;
  overflow: hidden;

  display: flex;
  justify-content: flex-end;
}



.toplink {
  width: 70px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  z-index: 2;
  padding: 20px 30px;
  position: relative;
  transition: color 0s 0.37s;
}

.toplink::before {
  background-size: 300px 3px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: linear-gradient(white, white);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 300px 0px;
  transition: all 0.3s 0.3s, transform 0.3s ease;
}

.toplink:hover {
  transition: color 0s 0.05s;
  color: rgb(19, 19, 19);
}

.toplink:hover::before {
  transition: all 0.3s, transform 0.3s ease 0.3s;
  cursor: pointer;
  background-size: 55px 55px;
  background-position: center;
  transform: rotate(-45deg);
}

.active::before {
  background-size: 300px 3px;
}

/* footer */
.bottombar {
  display: flex;
  width: 100%;
  border-top: 2px solid rgba(0, 0, 0, 0.089);
  font-size: smaller;
}

.bottomtext {
  margin-top: 10px;
  display: block;
  padding: 20px 30px;
}


