#container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  display: flex;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  flex-grow: 1;
  text-align: center;
  flex-wrap: wrap;
}
.title{
    font-size: 35px;
    width: 100%;
   height: min-content;
   margin-bottom: 0px;
}
.maintext {
  width: 1260px;
  flex-grow: 1;
  
}
.aboutimg{
    height: 300px;
}
@media only screen and (max-width: 1280px) {
    
    .main {
       width: 100%;
      }
}