body {
  margin: 0;
  
}
.topbar{
    width: 100%;
    
}
.topnav {
  background-color: rgb(31, 31, 31);
  width: 100%;
  overflow: hidden;

  display: flex;
  justify-content: flex-end;
}
.toplink {
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;

  padding: 20px 30px;
  position: relative;
  transition: all 0.3s;
}


.toplink:hover {
  
  cursor: pointer;
  background-color: white;
  color: rgb(31, 31, 31);
}

.active {
    background-color: rgb(48, 39, 48);
}
