.main{
 display: flex;
  justify-content: center;
  padding: 30px;
 flex-wrap: wrap;
}
.title{
  display: block;
  width: 100%;
  text-align: center;
}
.img{
  margin: 20px;
  height: 560px;
}
.imgsmall{
  margin: 20px;
  
  height: 300px;
}